{% extends './base/base.html' %}
{% load staticfiles %}

{% block title %}
Lista de Abogados
{% endblock %}

{% block content %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>RUT</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>SEXO</th>
                <th>EDAD</th>
                <th>ESPECIALIDAD</th>
            </tr>
        </thead>
        <tbody>
            {% for c in abogados %}
            <tr>
                <td>{{c.rut}}</td>
                <td>{{c.nombre}}</td>
                <td>{{c.apellido}}</td>
                <td>{{c.sexo}}</td>
                <td>{{c.edad}}</td>
                <td>{{c.especialidad}}</td>
            </tr>
            {% endfor %}
            <div class="contenedor_filtros">
            <form action="/filtros" method="POST">
                Especialidad: 
                <select class="custom-select" id="filtros" name="especialidad" value="{{especialidad}}">
                    <option value="Bancarios">Bancarios</option> 
                    <option value="Dicom">Dicom</option> 
                    <option value="Educacional">Educacional</option>
                </select>
                Sexo:
                <select class="custom-select" id="filtros" name="sexo" value="{{sexo}}">
                    <option value="Masculino">Masculino</option> 
                    <option value="Femenino">Femenino</option> 
                </select>
                <input class="btn btn-dark" type="submit" value="Filtrar">
                {% csrf_token %}
            </form>
        </div>
        <br>
        </tbody>
    </table>
{% endblock %}



































<form action="/filtros" method="POST">
    Edad: 
    <input type="number" name="edad" value="{{edad}}">
    <input type="submit" value="Filtrar">
    {% csrf_token %}
</form>
<ul>
    {% for c in abogados %}
    <tr>
            <td>{{c.rut}}</td>
            <td>{{c.nombre}}</td>
            <td>{{c.apellido}}</td>
            <td>{{c.sexo}}</td>
            <td>{{c.edad}}</td>
            <td>{{c.especialidad}}</td>
    </tr>
    {% endfor %}
</ul>