{% extends './base/base.html' %}
{% load staticfiles %}

{% block title %}
Listar Clientes Full
{% endblock %}


{% block content %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>RUT</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>EDAD</th>
                <th>EMAIL</th>
                <th>REGION</th>
                <th>EDITAR</th>
                <th>BORRAR</th>
            </tr>
        </thead>
        <tbody>
            {% for c in clientes %}
            <tr>
                <td>{{c.rut}}</td>
                <td>{{ c.nombre}}</td>
                <td>{{ c.apellido}}</td>
                <td>{{c.edad}}</td>
                <td>{{c.email}}</td>
                <td>{{c.region}}</td>
                <td><a href="/editar_cliente/{{ c.rut }}" class="btn btn-warning">EDITAR</a></td>
                <td><a href="/borrar_cliente/{{ c.rut }}" onclick="return confirm('Se eliminara un cliente Seguro que desea continuar?')" class="btn btn-danger " class="alert alert-danger" role="alert">Eliminar</a></td>             
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}